{% extends 'base.html.twig' %}

{% block body %}

    {% for vol in vols %}
        <p>{{ vol.villeArrive }} - {{ vol.heureDepart|date('H:i') }} - {{ vol.prixBilletInitiale }}€</p>
    {% endfor %}


{% endblock %}

{% block title %}

{% endblock %}

